#vars {
  text-align: center;
  font-family: 'GothicaBookOblique';
  font-weight: normal;
  font-style: italic;
}

#upleft{
  float: left;
}

#upRight{
  display: inline-block;
}

#downLeft{
  float: left;
}
