* {
  box-sizing:border-box
}

.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 105%;
  width: auto;
  margin-top: -22px;
  padding: 8px;
  font-weight: bold;
  font-size: 18px;
}

#next {
  right: 0;
}

.text {
  font-size: 15px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

#footer{
  bottom: 0px;
}
